.find-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 13rem;
    margin-top: 1rem;
}

.user{
    margin-top: 2rem;
    display: flex;
    gap: 2rem
}