.find-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 13rem;
    margin-top: 1rem;
}



.activity-container{
    color: white;
    border-bottom: 2px solid rgb(177, 96, 202);
}

.user{
    margin-top: 2rem;
    display: flex;
    gap: 2rem
}


@media (max-width: 1380px) {
    .buttons-controls{
     width: auto;
    }
  }

  
@media (max-width: 800px) {
    .user{
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        flex-direction: column;
    }
    .buttons-controls{
        margin-top: 1rem;
       }
  }